
#dashboard {
    border: 3px solid black;
    height: 655px;
    display: flex;
    flex-direction: row;
}

#user-profile {
    border: 2px solid red;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#statistics {
    border: 2px solid blue;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#user-profile-picture {
    border: 2px solid purple;
    height: 33.33%;
    display: flex;
    justify-content: center;
}

#profile-picture {
    border-radius: 100%;
    width: 80%;
    height: 95%;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
}

#username {
    border: 2px solid purple;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact-info {
    border: 2px solid purple;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contact-info a {
    font-size: 17px;
}

#tops-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}


#item-frame {
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
}

#item-frame img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
}

#item-frame p {
    width: 150px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: dodgerblue;
}

ul {
    list-style-type: none;
}

/* Contact */
.user-contact {
    display: flex;
}

.user-contact .img-user {
    margin-right: 50px;
}

.user-contact .img-user img {
    width: 215px;
    height: 215px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.56);
}